.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}

.anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
}

.anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
}

#page-one-container {
    height: 100vh;
    width: 100%;
    min-height: 50rem;
    background-image: url("./images/1363708.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#page-two-container {
    height: 100vh;
    width: 100%;
    min-height: 60rem;
    background-color: #385b68;
    display: flex;
    flex-direction: column;
}

#page-three-container {
    height: 100vh;
    width: 100%;
    min-height: 60rem;
    background-color: #35427c;
    display: flex;
    flex-direction: column;
}

#page-four-container {
    height: 100vh;
    width: 100%;
    min-height: 60rem;
    background-color: #385b68;
    display: flex;
    flex-direction: column;
}

#title-container {
    margin: auto;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#greeting h3 {
    margin-bottom: 0.5rem;
    color: #46adf3;
}
#greeting h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #f1f7e7;
}

#socials button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: rgba(56, 91, 104, 0.95);
}

.socials a {
    display: flex;
    margin: auto;
    justify-content: space-around;
    font-size: 1.5rem;
    min-width: 15rem;
    padding: 0;
}

.link-box {
    text-align: center;
    margin: auto;
    background-color: rgba(56, 91, 104, 1);
    font-size: 1.5rem;
    border-radius: 10px;
    min-width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

#link-container {
    width: 70%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

#greeting {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #35427c;
    border-radius: 8px;
    height: auto;
    margin: auto;
}

#socials {
    padding: 1rem;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#work-title {
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 2rem;
}

#work-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 0;
}

.tech-gallery {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25vw;
    max-width: 20rem;
    justify-content: space-between;
    height: auto;
}

.work-experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #32547c;
    width: 80%;
    height: auto;
    max-width: 75rem;
    max-height: 15rem;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 10px 10px 10px #2e3261;
}

.personal-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #32547c;
    width: 80%;
    height: auto;
    min-height: 10rem;
    max-width: 75rem;
    max-height: 15rem;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 10px 10px 10px #2e3261;
}

.passion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #32547c;
    width: 80%;
    height: auto;
    min-height: 10rem;
    max-width: 75rem;
    max-height: 15rem;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 10px 10px 10px #2e3261;
}

.dropdown {
    display: none;
}

.passion-dropdown {
    display: none;
}

.tech-gallery img {
    width: 100%;
    max-width: 4rem;
}

.tech-gallery span {
    text-align: center;
}

.blurb {
    text-align: center;
    margin: auto;
    padding-left: 0.5rem;
}

.passion-blurb {
    text-align: center;
    margin: auto;
    width: 80%;
}

.business-icon {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: auto;
    width: 15%;
    min-width: 5rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #2e3261;
    width: 20%;
    min-width: 7rem;
    border-radius: 8px;
    margin-left: 0;
}

.passion-icon {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: auto;
    margin: 0.5rem;
    width: 15%;
    min-width: 5rem;
    height: auto;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #2e3261;
}

.hidden {
    visibility: hidden;
    display: flex;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #32547c; /* Semi-transparent background */
    color: white;
    opacity: 0;
    transition:
        opacity 0.5s ease,
        visibility 0s 0.5s ease;
    z-index: 1000; /* Ensure it is above other content */
    justify-content: center;
    align-items: center;
}

#mobile-blurb-1.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-2.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-3.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-4.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-5.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-6.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-7.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#mobile-blurb-8.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden-business-icon {
    width: 70%;
    max-width: 13rem;
    border-radius: 8px;
    margin: auto;
    margin-top: 0;
}

.hidden-work-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.blurb-close {
    min-height: 10rem;
    width: 100%;
    display: flex;
}

.close-blurb {
    width: 40%;
    height: 40%;
    background-color: #f1f7e7;
    box-shadow: 10px 10px 10px #2e3261;
    border-radius: 8px;
    color: black;
    border: 0;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.hidden-blurb {
    margin: auto;
    padding-top: 1rem;
    text-align: center;
    width: 60%;
    height: auto;
}

.hidden-tech-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.hidden-tech-gallery-1 {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-around;
}

.hidden-tech-gallery-2 {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-around;
}

.hidden-tech-pair-text {
    font-size: 1rem;
    text-align: center;
}

.hidden-tech-pair span {
    text-align: center;
}

.tech-gallery {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tech-gallery-1 {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.tech-gallery-2 {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.tech-pair {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.tech-pair span {
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
}

.tech-pair img {
    margin: auto;
}

.blurb {
    margin: auto;
    width: 50%;
}

.hidden-tech-pair {
    display: flex;
    flex-direction: column;
    width: 13%;
    font-size: 0.5rem;
}

.hidden-tech-pair img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.hidden-tech-pair span {
    text-align: center;
}

.position {
    display: none;
}

.github {
    background-color: #35427c;
    box-shadow: 10px 10px 10px #2e3261;
    margin: auto;
    margin-right: 0.5rem;
    border-radius: 8px;
}

.github-item {
    background-color: #35427c;
    box-shadow: 10px 10px 10px #2e3261;
    margin: auto;
    border-radius: 8px;
}

.github-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    margin-right: 0.5rem;
}

@media (max-width: 900px) {
    #link-container {
        display: none;
    }
    .blurb {
        display: none;
    }
    .business-icon {
        width: 20%;
        min-width: 7rem;
        border-radius: 8px;
        margin-left: 0;
    }
    .passion-icon {
        width: 20%;
        min-width: 7rem;
        border-radius: 8px;
        margin-left: 0;
    }
    .tech-gallery {
        display: none;
    }
    .tech-gallery-1 {
        display: none;
    }
    .tech-gallery-2 {
        display: none;
    }
    .dropdown {
        display: initial;
        margin: auto;
        background-color: #32547c;
        color: black;
        box-shadow: 10px 10px 10px #2e3261;
        border-radius: 50px;
        font-size: 1rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .work-experience {
        width: 70%;
        margin: 5rem;
        min-width: 20rem;
        min-height: 8rem;
        flex-direction: space-between;
    }
    .personal-project {
        width: 70%;
        margin: 3rem;
        min-width: 20rem;
        min-height: 8rem;
        flex-direction: space-between;
    }
    .passion {
        width: 70%;
        margin: 3rem;
        min-width: 20rem;
        min-height: 8rem;
        flex-direction: space-between;
    }

    .tech-pair {
        min-width: 5rem;
        text-align: center;
        font-size: 0.5rem;
    }
    .position {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-right: 0.5rem;
        text-align: center;
        width: 10%;
        min-width: 8rem;
        font-size: 0.8rem;
    }
    .position h3 {
        margin-top: 0;
    }
    .position h2 {
        margin-bottom: 0;
    }
    .passion-blurb {
        display: none;
    }
    .passion-dropdown {
        display: initial;
        margin: auto;
        background-color: #32547c;
        box-shadow: 10px 10px 10px #2e3261;
        border-radius: 50px;
        font-size: 1rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: black;
    }
}

@media (max-height: 740px) and (max-width: 800) {
    .socials h3 {
        display: none;
    }
    #socials {
        display: flex;
        flex-direction: row;
    }
    .socials {
        min-width: 2rem;
        margin: 0.5rem;
    }
}

@media (max-width: 1100px) {
    #link-container {
        display: none;
    }
}

a {
    text-decoration: none;
    color: black;
}

body,
html {
    overscroll-behavior: none;
    margin: 0;
}
